@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

img{
  user-select: none !important;
}

:root {
  --font-montserrat: "Montserrat", serif;
  --font-raleway: "Raleway", sans-serif;
  --subjectcard-title-color: ;
  --card-bg-color: linear-gradient(180deg, rgba(192,204,255,1) 0%, rgba(255,255,255,1) 100%);
  --languagecard-title-color: ;
  --main-dark-blue-gradient: linear-gradient( 90deg, rgb(71, 92, 139) 0%, rgb(38, 50, 75) 100% );
  --main-dark-blue: rgb(36, 47, 71);
  --lang1-color: linear-gradient(180deg, #B4D4FF 0%, rgba(255,255,255,1) 100%);
  --lang2-color: linear-gradient(180deg, #B2C2FF 0%, rgba(255,255,255,1) 100%);
  --lang3-color: linear-gradient(180deg, #C1BCFD 0%, rgba(255,255,255,1) 100%);
  --lang4-color: linear-gradient(180deg, #B9D7FF 0%, rgba(255,255,255,1) 100%);
  --lang5-color: linear-gradient(180deg, #ADD7E9 0%, rgba(255,255,255,1) 100%);
  --lang6-color: linear-gradient(180deg, #AABCFF 0%, rgba(255,255,255,1) 100%);
  --lang7-color: linear-gradient(180deg, #CBC8FF 0%, rgba(255,255,255,1) 100%);
}

body {
  font-family: var(--font-montserrat);
  background-color: #ccdeeb;
}

.carousel{
  padding: 20px 20px 20px 20px;
}

.bottomNavbar {
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  position: sticky;
  bottom: 0;
  width: 100%;
  left: 0;
  border-radius: 0% 0% 30px 30px;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}


.buttonLearn{
  position: relative;
  margin: 20px 20px 20px 20px;
  width: 300px;
  height: 50px;
  background: rgb(83, 158, 201);
  border-radius: 25px;
  color: white;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: medium;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-bottom: solid 5px rgba(0, 0, 0, 0.1);
}

.buttonLearn:hover {
  box-shadow: 0px 15px 10px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.005, 1.005);
  background: rgb(90, 171, 218);
  cursor: pointer;
}

.app {
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: var(--main-dark-blue-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

h3{
  text-align: center;
}

.subHeader{
  font-weight: 800;
  background: linear-gradient(
    90deg,
    rgb(71, 92, 139) 0%,
    rgb(38, 50, 75) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.personImage{
  width: 10vw;
}


.row{
  display: flex;
  flex-direction: row;
}

.row > div {
  margin-left: 10px;
}



.container {
  width: 60vw;
  margin: auto auto 0 auto;
  margin-top: 1rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  flex-wrap: wrap;
}

.dialogueContainer {
  width: 60vw;
  height: 55vh;
  margin: auto auto 0 auto;
  margin-top: 1rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  flex-wrap: wrap;
}

.dialogue{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
}

.speech{
  padding: 10px;
}

.buttonsContainer {
  width: 60vw;
  margin: auto auto 0 auto;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.language-page {
  width: 70vw;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.language-page p {
  margin-top: 10px;
  font-size: 20px;
  text-align: justify;
}

.language-page .buttonLearn{
  position: inherit;
}

.language-page-heading{
  margin-top: 20px;
}

.languages{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.language-page{
  background: rgba(255,255,255,0.8);
  border-radius: 30px;
  display: flex;
  width: 60vw;
  justify-content: center;
  flex-direction: column;
}

.language-page h1{
  padding: 10px;
}

.language-page p{
  padding: 30px;
}

.language-page h3{
  padding: 30px;
}


.photo{
  width:500px;
  border-radius: 10px;
}

.subjectButtons{
  display: flex;
}

.allLanguages{
padding: 2rem;
display:flex;
justify-content: center;
}

.allLanguages img{
width: 40vw;
border-radius: 20px;
height: 30vw;
object-fit: cover;
box-shadow: 0 0 100px 100px rgb(204, 222, 235) inset;
}

/* SubjectCard, LanguageCard */
.subject, .language {
  width: 150px;
  height: 150px;
  margin: 1.5rem;
  background: var(--card-bg-color);

  position: relative;
  border-radius: 20px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.subject h3, .language h3{
  font-size: 15px !important;
  padding-top: 25%;
}

.subject img, .language img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.subject:hover, .language:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
  filter: brightness(80%);
  cursor: pointer;
}

.subject div:nth-of-type(1), .language div:nth-of-type(1)  {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #f9d3b4;
  z-index: 2;
  background-color: transparent;
  padding: 24px 24px 24px 24px;
}

.subject:hover div:nth-of-type(1), .language:hover div:nth-of-type(1) {
  background-color:rgba(0, 0, 0, 0.5);
}

.subject:hover div:nth-of-type(1) {
  opacity: 1;
}

.language img{
  padding: 30px 30px 30px 30px !important;
}

.language h3{
  padding-top: 100% !important;
}

.language div:nth-of-type(1){
  opacity: 1 !important;
  color: var(--main-dark-blue) !important;
} 

.language{
  width: 150px !important;
  height: 180px !important;
}

#coloredCard1{
  background: var(--lang1-color);
}
#coloredCard2{
  background: var(--lang2-color);
}
#coloredCard3{
  background: var(--lang3-color);
}
#coloredCard4{
  background: var(--lang4-color);
}
#coloredCard5{
  background: var(--lang5-color);
}
#coloredCard6{
  background: var(--lang6-color);
}
#coloredCard7{
  background: var(--lang7-color);
}

/* Carousel */
.item{
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.item-1{
  background-color: cornflowerblue;
}

.item-2{
  background-color: coral;
}

.item-3{
  background-color: darkseagreen;
}

/* NAVBAR */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: sticky !important;
  top: 20px;
  border-radius: 15px;
  overflow: auto;
  z-index: 4;
  width: 60%;
  margin: auto auto 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}
.navbar .slider {
  width: 100%;
  height: 300px;
  background-color: #f03861;
}

.navbar ul {
  font-size: 0;
  list-style-type: none;
}

.navbar ul li {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(24, 24, 24);
  display: inline-block;
  padding: 15px;
  position: relative;
}
.navbar ul li ul {
  display: none;
}
.navbar ul li:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}
.navbar ul li:hover ul {
  display: block;
  margin-top: 15px;
  width: 200px;
  left: 0;
  position: absolute;
}
.navbar ul li:hover ul li {
  display: block;
  background-color: #e7e7e7;
}
.navbar ul li:hover ul li span {
  float: right;
  color: #f9f9f9;
  background-color: #f03861;
  padding: 2px 5px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 3px;
}
.navbar ul li:hover ul li:hover {
  background-color: #e0e0e0;
}
.navbar ul li:hover ul li:hover span {
  background-color: #ee204e;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .language-page p{
    font-size: 1em;
  }

  .subject, .language{
    width: 30vw !important;
    height: 15vh !important;
  }

  .subject h3, .language h3{
    font-size: 0.7em !important;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .subject {
    width: "100%";
    margin: 1rem;
  }
}

