@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

img{
  user-select: none !important;
}

:root {
  --app-bg-color: rgb(157, 190, 242);
  --font-montserrat: "Montserrat", serif;
  --font-raleway: "Raleway", sans-serif;
  --subjectcard-title-color: ;
  --card-bg-color: linear-gradient(180deg, rgba(192,204,255,1) 0%, rgba(255,255,255,1) 100%);
  --languagecard-title-color: ;
  --main-dark-blue-gradient: linear-gradient( 90deg, rgb(71, 92, 139) 0%, rgb(38, 50, 75) 100% );
  --main-dark-blue: rgb(36, 47, 71);
  --lang1-color: linear-gradient(180deg, #B4D4FF 0%, rgba(255,255,255,1) 100%);
  --lang2-color: linear-gradient(180deg, #B2C2FF 0%, rgba(255,255,255,1) 100%);
  --lang3-color: linear-gradient(180deg, #C1BCFD 0%, rgba(255,255,255,1) 100%);
  --lang4-color: linear-gradient(180deg, #B9D7FF 0%, rgba(255,255,255,1) 100%);
  --lang5-color: linear-gradient(180deg, #ADD7E9 0%, rgba(255,255,255,1) 100%);
  --lang6-color: linear-gradient(180deg, #AABCFF 0%, rgba(255,255,255,1) 100%);
  --lang7-color: linear-gradient(180deg, #CBC8FF 0%, rgba(255,255,255,1) 100%);
}

body {
  font-family: var(--font-montserrat);
  background-color: rgb(127, 168, 248);
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: var(--main-dark-blue-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

h1{
  padding-bottom: 10px;
  font-size: 1.5em;

  text-align: center !important;
  margin: auto;
}

h2{
  padding-bottom: 10px;
  font-size: 2em;
  background: var(--main-dark-blue-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center !important;
  width: 100%;
  margin: auto;
  font-weight: 600;
}

h3{
  text-align: center;
}

p{
  padding-top: 10px;
  text-align: center;
  width: 100%;
  margin: auto;
}

.carousel{
  padding: 20px 20px 20px 20px;
}

.bottomNavbar {
  background-color: rgba(255, 255, 255, 0.8);
  overflow: clip;
  position: sticky;
  bottom: 0;
  width: 100%;
  left: 0;
  border-radius: 0% 0% 30px 30px;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
}

.buttonLearn{
  position: relative;
  margin: 20px;
  padding: 5px;
  min-width: 8rem;
  min-height: 50px;
  background: rgb(83, 158, 201);
  border-radius: 20px;
  color: white;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: medium;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-bottom: solid 5px rgba(0, 0, 0, 0.1);
}

.buttonLearn:hover {
  box-shadow: 0px 15px 10px -8px rgba(0, 0, 0, 0.1);
  background: rgb(90, 171, 218);
  cursor: pointer;
}

.buttonDisabled{
  position: relative;
  margin: 20px;
  padding: 5px;
  min-width: 8rem;
  min-height: 50px;
  background: rgb(179, 179, 179);
  border-radius: 20px;
  color: white;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: medium;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-bottom: solid 5px rgb(179, 179, 179);
}



.quizPage p{
  text-align: center !important;
}

.quizPage .quizOptions{
  display: flex;
  flex-direction: column;
}

.quizOption{
  position: relative;
  margin: 20px;
  min-width: 150px;
  min-height: 50px;
  background: white;
  border-radius: 20px;
  color: var(--main-dark-blue);
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: medium;
  
  border: solid 2px rgba(0, 0, 0, 0.15);
  border-bottom: solid 5px rgba(0, 0, 0, 0.15);
}

.quizOption:hover {
  background: rgba(0,0,0,0.1);
  cursor: pointer;
}

.quizOptionChecked{
  position: relative;
  margin: 20px;
  min-width: 150px;
  min-height: 50px;
  background: rgb(177, 224, 252);
  border-radius: 20px;
  color: var(--main-dark-blue);
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: medium;
  
  border: solid 2px rgba(0, 0, 0, 0.15);
  border-bottom: solid 5px rgba(0, 0, 0, 0.15);
}

.quizOptionChecked:hover{
  cursor: pointer;
}

.quizBottom {
  background-color: rgba(255, 255, 255, 0.8);
  overflow: clip;
  position: sticky;
  bottom: 0;
  width: 100%;
  left: 0;
  border-radius: 0% 0% 30px 30px;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quizBottom.correct{
  background-color: rgb(215, 255, 184);
}

.quizBottom.wrong{
  background-color: rgb(255, 223, 224);
}

.quizBottom.wrong .buttonLearn{
  background: rgb(255, 75, 75);
}

.quizBottom.correct .buttonLearn{
  background: rgb(88, 204, 2);
}

.quizBottom p{
  text-align: left !important;
}

.quizBottom .bold{
  font-weight: bold;
}

.quizBottom .result{
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.quizBottom .image{
  margin-left: 15px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items:center;
  align-self: center;
}

.quizBottom .image img{
  width: 1.5rem;
  height: 1.5rem;
  margin: 20px;
}

.quizBottom .resultText{
  margin-left: 15px;
}

.quizBottom .resultText.correct{
  color: rgb(61, 114, 0);
}

.quizBottom .resultText.wrong{
  color: rgb(126, 14, 14);
}

.app {
  padding: 2rem;

  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;

  overflow: clip;

  min-height: 100vh;
}

.app .appBackground{
  position: absolute;
  z-index: -1;
  width: 100%;

  overflow: clip;
  top: 0;
    left: 0;
    right: 0;
  opacity: 0.5;
  mix-blend-mode: normal;
  object-fit:fill;
}

.subHeader{
  font-weight: 800;
  background: linear-gradient(
    90deg,
    rgb(71, 92, 139) 0%,
    rgb(38, 50, 75) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}




.row{
  display: flex;
  flex-direction: row;
}

.row > div {
  margin-left: 10px;
}



.container {
  width: 60vw;
  margin: auto auto 0 auto;
  margin-top: 1rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

  background-color: white;
  border-radius: 15px 15px 0px 0px;
}

.buttonsContainer {
  width: 60vw;
  margin: auto auto 0 auto;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.flex-row-3{
    display: flex;
    flex-direction: row;
}

.language-page {
  width: 70vw;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.language-page p {
  margin-top: 10px;
  font-size: 20px;
  text-align: justify;
}

.language-page .buttonLearn{
  position: inherit;
}

.language-page-heading{
  margin-top: 20px;
}

.languages{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.languagesPage .chooseLang{
  background: white;
  opacity: 0.8;
  border-radius: 10px;
}

.languagesPage .chooseLang h2{
  padding-top: 10px;
}

.language-page{
  background: rgba(255,255,255,0.8);
  border-radius: 30px;
  display: flex;
  width: 60vw;
  justify-content: center;
  flex-direction: column;
}

.language-page h1{
  padding: 10px;
}

.language-page p{
  padding: 30px;
}

.language-page h3{
  padding: 30px;
}


.photo{
  width:500px;
  border-radius: 10px;
}

.subjectButtons{
  display: flex;
}

.allLanguages{
padding: 1.5rem;
display:flex;
justify-content: center;
}

.languagesPage .buttonsContainer{
  padding: 1.5rem;
  width: 100%;
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  }

.allLanguages img{
width: 100%;
border-radius: 20px;
height: 30vw;
object-fit: contain;
/* box-shadow: 0 0 100px 100px rgb(204, 222, 235) inset; */
}

.rotate{
  animation: rotation 60s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* SubjectCard, LanguageCard */
.subject {
  width: 150px;
  height: 150px;
  margin: 1.5rem;
  background: var(--card-bg-color);

  position: relative;
  border-radius: 20px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.language {
  width: 150px;
  height: 150px;
  margin: 1.5rem;
  background: var(--card-bg-color);
  position: relative;
  border: 3px solid white;
  border-radius: 20px;
  overflow: clip !important;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.subject h3{
  font-size: 0.9rem !important;
  padding-top: 25%;
}

.language h3{
  font-size: 1rem !important;
  text-transform: uppercase;
  color: rgb(11, 52, 117) !important;
}

.subject img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.language img{
  width: 100%;
  object-fit: contain;
}

.subject:hover{
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
  filter: brightness(80%);
  cursor: pointer;
}

.language:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.subject div:nth-of-type(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #f9d3b4;
  z-index: 2;
  background-color: transparent;
  padding: 24px 24px 24px 24px;
}

.language div:nth-of-type(1)  {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #f9d3b4;
  z-index: 2;
  background-color: transparent;
}

.language div:nth-of-type(2)  {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 5px;
  z-index: 3;
}

.language .images{
  display: block;
  overflow: clip;
}
.language .images :nth-child(1){
  position: absolute;
  z-index: 2;
}

.language .images :nth-child(2){
  position: absolute;
  z-index: 1;
}

.subject:hover div:nth-of-type(1) {
  background-color:rgba(0, 0, 0, 0.5);
}

.language:hover .images :nth-child(2){
  /* background-color:rgba(0, 0, 0, 1); */
  transition: 0.3s;
	filter: grayscale(100%) brightness(60%) sepia(100%) hue-rotate(-10deg) saturate(500%) contrast(0.8);
}

.subject:hover div:nth-of-type(1) {
  opacity: 1;
}

.language div:nth-of-type(1){
  opacity: 1 !important;
  color: var(--main-dark-blue) !important;
} 

#coloredCard1{
  background: var(--lang1-color);
}
#coloredCard2{
  background: var(--lang2-color);
}
#coloredCard3{
  background: var(--lang3-color);
}
#coloredCard4{
  background: var(--lang4-color);
}
#coloredCard5{
  background: var(--lang5-color);
}
#coloredCard6{
  background: var(--lang6-color);
}
#coloredCard7{
  background: var(--lang7-color);
}

/* Carousel */
.item{
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.item-1{
  background-color: cornflowerblue;
}

.item-2{
  background-color: coral;
}

.item-3{
  background-color: darkseagreen;
}

/* NAVBAR */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: sticky !important;
  top: 20px;
  border-radius: 15px;
  overflow: auto;
  z-index: 4;
  width: 60%;
  margin: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}
.navbar .slider {
  width: 100%;
  height: 300px;
  background-color: #f03861;
}

.navbar ul {
  font-size: 0;
  list-style-type: none;
}

.navbar ul li {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(24, 24, 24);
  display: inline-block;
  padding: 15px;
  position: relative;
}
.navbar ul li ul {
  display: none;
}
.navbar ul li:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}
.navbar ul li:hover ul {
  display: block;
  margin-top: 15px;
  width: 200px;
  left: 0;
  position: absolute;
}
.navbar ul li:hover ul li {
  display: block;
  background-color: #e7e7e7;
}
.navbar ul li:hover ul li span {
  float: right;
  color: #f9f9f9;
  background-color: #f03861;
  padding: 2px 5px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 3px;
}
.navbar ul li:hover ul li:hover {
  background-color: #e0e0e0;
}
.navbar ul li:hover ul li:hover span {
  background-color: #ee204e;
}

.navbar .back{
  float: right;
}

.navbar .navbarHome .navbarHomeImage{
  margin-right: 6px;
  margin-bottom: -2px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


/* PAGES */
.header{
  padding: 30px;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
}


/* Placeholder */



/* Greeting */

.greetingPage .bottomNavbar{
  position: sticky;
  bottom: 0;
}

.speech{
  display: block;
  flex-direction: column;
  padding: 10px;
  justify-content: flex-start;
}

.speechBubble{
  position: relative;

}

.personImage{
  width: 12vw;
  position: relative;
}

.dialogue{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.dialogue .speechBubbles{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 300px;
}

.dialogue .speechText{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.greetingPage .soundButton img{
  width: 25px;
  height: 25px;
}

/* Nature */
.naturePage .earth h1, .naturePage .plants h1{
  padding-bottom: 10px;
  font-size: 1.2vw;
}

.naturePage h3{
  font-size: 1vw;
}

.naturePage p{
  padding-top: 10px;
  font-size: 1.2vw !important;
}

.naturePage .earth, .naturePage .plants{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.naturePage .earth .block, .naturePage .plants .block{
  padding: 30px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}

.naturePage img{
  text-align: center !important;
  margin: auto;
  width: 100%;
}

.naturePage .image{
  width: 10vw;
  margin: auto;
  
  margin-top: 40px;
  margin-bottom: 40px;
}

.naturePage .aside{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

/* Audio button with text */
.naturePage .block .audio-text{
  display: block;
}

.naturePage .block .audio-text .soundButton{
  position:relative;
  float: left;
}
/* //// */

.naturePage .aside :nth-child(1), .naturePage .aside :nth-child(2), .naturePage .aside :nth-child(3){
  flex: 1;
}



/* Animals */
.animalsPage h1{
  font-size: 30px !important;
}

.animalsPage .animals, .animalsPage .birds{
  display: flex;
  flex-direction: column;
}
.animalsPage .animals .animal, .animalsPage .birds .animal{
  padding: 30px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}

.animalsPage h1, .animalsPage p, .animalsPage img{
  text-align: center !important;
  width: 100%;
  margin: auto;
}

.animalsPage span{
  font-weight: bold;
  font-style: italic;
}

/* Family */

.familyPage p{
  text-align: left;
}

.familyPage .aside{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.familyPage .asideKeep{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
}

.familyPage .asideKeepLeft .asideVert h3{
  text-align: left;
}

.familyPage .asideVert{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
}

.familyPage .soundButton img{
  width: 25px;
  height: 25px;
}

.familyPage .text{
  padding: 30px;
}

.familyPage span{
  font-weight: bold;
  font-style: italic;
}

.familyPage .family{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.familyPage .member{
  display: flex;
  flex-direction: column;
  padding: 35px;
  margin: auto;
  
  align-items: center;
  /* border-bottom: 5px solid rgba(0, 0, 0, 0.1); */
  
}

.familyPage .memberImg{
  width: 250px;
}

.familyPage .a{
  font-weight: bold;
}

.familyPage .otherMembers{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.familyPage .otherMembers .member{
  margin-left: 25%;
}


/* TALE */
.talePage h1{
  font-size: 25px !important;
  padding: 15px;
}

.talePage .culture, .talePage .birds{
  display: flex;
  flex-direction: column;
}
.talePage .culture .animal, .talePage .birds .animal{
  padding: 30px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}

.talePage h1, .talePage p, .talePage img{
  text-align: center !important;
  width: 100%;
  margin: auto;
}

.talePage span{
  font-weight: bold;
  font-style: italic;
}

.talePage video{
  width: 100%;
}

/* CLOTHES */

.clothesPage .cloth{
  padding: 30px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}


/* Audio button with text */
.clothesPage .cloth .info .audio-text{
  display: block;
}

.clothesPage .cloth .info .audio-text .soundButton{
  position:relative;
  float: left;
}
/* //// */

.clothesPage .cloth .column{
  display: flex;
  flex-direction: column;
}

.clothesPage .cloth .column .singleImage{
  padding: 25px;
}

.clothesPage .cloth .row{
  display: flex;
  flex-direction: row;
}

.clothesPage .cloth .row :nth-child(1), .clothesPage .cloth .row :nth-child(2){
  flex: 1;
}

.clothesPage .singleImage, .clothesPage .multipleImages{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  width: 100%;
}

.clothesPage .cloth .multipleImages img{
  max-width: 40%;
  margin: 0;
}

.clothesPage .cloth .singleImage img{
  max-width: 100%;
  max-height: 450px;
  margin: 0;
}

.clothesPage span{
  font-weight: bold;
  font-style: italic;
}


/* CULTURE AND FOOD */
.cultureFoodPage h1{
  font-size: 30px !important;
}

.cultureFoodPage .culture, .cultureFoodPage .birds{
  display: flex;
  flex-direction: column;
}
.cultureFoodPage .culture .animal, .cultureFoodPage .birds .animal{
  padding: 30px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}

.cultureFoodPage h1, .cultureFoodPage p, .cultureFoodPage img{
  text-align: center !important;
  width: 100%;
  margin: auto;
}

.cultureFoodPage span{
  font-weight: bold;
  font-style: italic;
}


.cultureFoodPage .aside{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cultureFoodPage .aside :nth-child(1), .cultureFoodPage .aside :nth-child(2){
  flex: 1;
  margin: 15px;
}

/* Folklore */
.folklorePage h1{
  font-size: 30px !important;
}

.folklorePage .folklore, .folklorePage .folklore{
  display: flex;
  flex-direction: column;
}
.folklorePage .folklore .page, .folklorePage .folklore .page{
  padding: 30px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}

.folklorePage h1, .folklorePage img{
  text-align: center !important;
  width: 100%;
  margin: auto;
}

.folklorePage p{
  text-align: justify;
  width: 100%;
  margin: auto;
}

.folklorePage span{
  font-weight: bold;
  font-style: italic;
}

.folklorePage .aside{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.folklorePage .aside :nth-child(1), .folklorePage .aside :nth-child(2){
  flex: 1;
  margin: 15px;
}

.folklorePage .player{
  padding: 10px;
}

.folklorePage audio{
  width: 100%;
}

/* FAMOUS PEOPLE */
.famousPeoplePage h1{
  font-size: 30px !important;
}

.famousPeoplePage p{
  font-size: large;
  text-align: justify;
}

.famousPeoplePage .asideVert p{
  padding-top: 20px;
}

.famousPeoplePage .person{
  display: flex;
  flex-direction: column;
}
.famousPeoplePage .person .page{
  padding: 30px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}

.famousPeoplePage h1, .famousPeoplePage h2, .famousPeoplePage img{
  text-align: center !important;
  width: 100%;
  margin: auto;
}

.famousPeoplePage span{
  font-weight: bold;
  font-style: italic;
}

.famousPeoplePage .aside{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.famousPeoplePage .aside :nth-child(1), .famousPeoplePage .aside :nth-child(2){
  flex: 1;
  margin: 15px;
}

.famousPeoplePage .asideVert{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.famousPeoplePage .asideImg{
  display: flex;
  flex-direction: row;
}

.famousPeoplePage .asideImg :nth-child(1), .famousPeoplePage .asideImg :nth-child(2), .famousPeoplePage .asideImg :nth-child(3){
  flex: 1;
  margin: 10px;
}

.cultureFoodPage img, .clothesPage img, .naturePage img, .famousPeoplePage img, .talePage img, .animalsPage img{
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }
  .app .appBackground{
    position: absolute;
    z-index: -1;

    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    object-fit: cover;
  }

  h2{
    font-size: 1.2rem;
    
  }

  .navbar {
    position: sticky !important;
    top: 0px;
    border-radius: 15px;
    overflow: auto;
    z-index: 4;
    width: 100%;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }

  .quizBottom, .quizPage.bottomNavbar{
    position: fixed;
    border-radius: 0;
  }

  .quizPage{
    border-radius: 15px 15px;
  }

  .allLanguages img{
    width: 100%;
    border-radius: 20px;
    height: 30vh;
    object-fit: contain;
    /* box-shadow: 0 0 100px 100px rgb(204, 222, 235) inset; */
  }

  .language-page{
    width: 100%;
  }

  .language-page p{
    font-size: 1em;
  }

  .subject, .language{
    width: 30vw !important;
    height: 15vh !important;
    margin: 1em;
  }

  .subject h3, .language h3{
    font-size: 0.7em !important;
  }

  .buttonsContainer, .languagesPage .buttonsContainer{
    width: 100vw;
    margin: 0 0 0 0;
    margin-top: 1rem;
  
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

.speech{
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.speechBubble{
  position: relative;
}

.personImage{
  width: 30vw;
  position: relative;
}

.dialogue{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.dialogue .speechBubbles{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dialogue .speechText{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.greetingPage .soundButton img{
  width: 25px;
  height: 25px;
}

  .container{
    width: auto;
  }

  .familyPage .member{
    display: flex;
    flex-direction: column;
    padding: 35px;
    margin: auto;
    
    align-items: center;
  }
  
  .familyPage .memberImg{
    width: 30vw;
    padding: 0;
  }
  .familyPage .otherMembers .member{
    margin: 0;
  }

  .familyPage .aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .cultureFoodPage .aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
  }

  .naturePage h3{
    font-size: 1em;
  }

  .naturePage .image{
    width: 50vw;
  }

  .naturePage p{
    font-size: 4vw !important;
  }


  .naturePage .aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .cultureFoodPage .aside :nth-child(1), .cultureFoodPage .aside :nth-child(2){
    flex: 1;
    margin: 0px;
  }

  .famousPeoplePage .aside :nth-child(1), .famousPeoplePage .aside :nth-child(2){
    flex: 1;
    margin: 0px;
  }
  .famousPeoplePage .aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .famousPeoplePage h3, .famousPeoplePage h2{
    padding: 10px;
  }
  

  .folklorePage .aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .folklorePage h3, .folklorePage h2, .folklorePage span{
    font-size: 1em;
  }

  .naturePage h1, .animalsPage h1, .talePage h1, .famousPeoplePage h1, .cultureFoodPage h1, .clothesPage h1, .folklorePage h1, .familyPage h1{
    font-size: 1.2em !important;
    padding-bottom: 10px;
  }

  
.naturePage .block .asiderow{
  display: block;
}

.naturePage .block .soundButton{
  margin: 0;
  padding: 0;
}
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .subject {
    width: "100%";
    margin: 1rem;
  }
}

