*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: sticky !important;
  top: 20px;
  border-radius: 15px;
  overflow: auto;
  z-index: 4;
  width: 60%;
  margin: auto auto 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}
.navbar .slider {
  width: 100%;
  height: 300px;
  background-color: #f03861;
}

.navbar ul {
  font-size: 0;
  list-style-type: none;
}

.navbar ul li {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(24, 24, 24);
  display: inline-block;
  padding: 15px;
  position: relative;
}
.navbar ul li ul {
  display: none;
}
.navbar ul li:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}
.navbar ul li:hover ul {
  display: block;
  margin-top: 15px;
  width: 200px;
  left: 0;
  position: absolute;
}
.navbar ul li:hover ul li {
  display: block;
  background-color: #e7e7e7;
}
.navbar ul li:hover ul li span {
  float: right;
  color: #f9f9f9;
  background-color: #f03861;
  padding: 2px 5px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 3px;
}
.navbar ul li:hover ul li:hover {
  background-color: #e0e0e0;
}
.navbar ul li:hover ul li:hover span {
  background-color: #ee204e;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }